# envy
# ----
# The local config (db|general).example.php should be duplicated and renamed to (db|general).php
# These new local files should then be ignored so that they do not get pushed back upstream
# ----
craft/config/local/db.php
craft/config/local/general.php

# dotfiles
.DS_Store